include README.md
include LICENSE
include pyproject.toml
recursive-include openaudio *.py
global-exclude __pycache__
global-exclude *.py[co]
global-exclude .git*
global-exclude *.wav
global-exclude test_*.py